/bin/
/.classpath
/.project
*.class
*.prefs
war/WEB-INF/classes/guestbookobjectify/Compoment.class
*.jar
.classpath
.settings/com.google.appengine.eclipse.core.prefs
*.prefs
*.jar
.classpath
*.class
.settings/com.google.appengine.eclipse.core.prefs