<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>GuestbookObjectify</servlet-name>
		<servlet-class>guestbookobjectify.GuestbookObjectifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestbookObjectify</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FormCreator</servlet-name>
		<servlet-class>guestbookobjectify.FormCreatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormCreator</servlet-name>
		<url-pattern>/formcreator</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Panel</servlet-name>
		<servlet-class>guestbookobjectify.CompomentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Panel</servlet-name>
		<url-pattern>/panel/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Results</servlet-name>
		<servlet-class>guestbookobjectify.ResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Results</servlet-name>
		<url-pattern>/results/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Panel2</servlet-name>
		<servlet-class>guestbookobjectify.PanelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Panel2</servlet-name>
		<url-pattern>/panel2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Historique</servlet-name>
		<servlet-class>guestbookobjectify.HistoriqueServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Historique</servlet-name>
		<url-pattern>/historique</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Creation</servlet-name>
		<servlet-class>guestbookobjectify.CruditeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Creation</servlet-name>
		<url-pattern>/creation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Crud</servlet-name>
		<servlet-class>guestbookobjectify.crudServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Crud</servlet-name>
		<url-pattern>/crud</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>guestbookobjectify.deleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>guestbookobjectify.updateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Export</servlet-name>
		<servlet-class>guestbookobjectify.ExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Export</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>guestbook.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Form</web-resource-name>
			<url-pattern>/formcreator</url-pattern>
			<url-pattern>/crud</url-pattern>
			<url-pattern>/creation</url-pattern>
			<url-pattern>/delete</url-pattern>
			<url-pattern>/update</url-pattern>
			<url-pattern>/export</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>


	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
